<router-outlet></router-outlet>


<mat-form-field class="example-form-field">
  <span matPrefix>  <mat-icon>search</mat-icon></span>
  <input matInput type="text" placeholder="Search Companies" [(ngModel)]="value"/>
</mat-form-field>


<mat-accordion >
  <mat-expansion-panel *ngFor="let c of companies">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{c.companyName}}
      </mat-panel-title>
      <mat-panel-description>
          Rating: {{c.rating }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
          Industry: {{c.industry}}
      </mat-list-item>
      <mat-list-item>
          Location: {{c.location}}
      </mat-list-item>
      <mat-list-item>
          Company Site: {{c.companySite}}
      </mat-list-item>
      <mat-list-item>
          HR Email: {{c.hrEmail}}
      </mat-list-item>
    </mat-list>
    <br>
    <button mat-raised-button (click)="openDialog()">Rate this company</button>
    <br>
  </mat-expansion-panel>

</mat-accordion>
