<router-outlet></router-outlet>



<!--<div class="example-container">-->
  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Input">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<textarea matInput placeholder="Textarea"></textarea>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<mat-select placeholder="Select">-->
      <!--<mat-option value="option">Option</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->
<!--</div>-->

<br><br>

<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>File a Report to a Human Resources Department</mat-card-title>
    <!--<mat-card-subtitle>Please fill out the following information:</mat-card-subtitle>-->
  </mat-card-header>

  <mat-card-content>
    <div class="example-container">

    <mat-form-field>
      <input matInput placeholder="Full Name">
    </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Gender">
          <mat-option value="option">Female</mat-option>
          <mat-option value="option">Male</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Company">
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Company Email">
      </mat-form-field>



    <mat-form-field>
      <textarea matInput placeholder="Concers"></textarea>
    </mat-form-field>




      </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="bcenter">
    <button mat-button color="primary" (click)="submit()">Submit Report</button>
    </div>
    <!--<p ng-show="submitted==true" >This information will be used to match you with a mentor/mentee! </p>-->
    <!--<button mat-button color="primary">Submit</button><br>-->
    <!--<button mat-button>SHARE</button>-->
  </mat-card-actions>
  <br>
</mat-card>
